{% extends 'base.html' %}

{% block title %}Alterar Senha - Te Dedico{% endblock %}

{% block content %}
<div class="container mx-auto p-4 max-w-md">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Alterar Senha</h1>
    <div class="bg-white p-8 rounded-lg shadow-xl">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} {# Isso irá renderizar os campos do formulário como parágrafos #}
            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                Alterar Senha
            </button>
        </form>
        <p class="mt-4 text-center text-sm text-gray-600">
            <a href="{% url 'minha_conta' %}" class="text-blue-500 hover:underline">Voltar para Minha Conta</a>
        </p>
    </div>
</div>
{% endblock %}