{% extends 'base.html' %}
{% block title %}{{ presente.titulo }}{% endblock %}
{% block content %}
<h1 class="text-2xl font-bold text-[var(--casal-accent)] text-center mb-4">{{ presente.titulo }}</h1>
<p class="text-center mb-4">{{ presente.mensagem }}</p>
{% if presente.imagem %}
  <div class="flex justify-center mb-4">
    <img src="{{ presente.imagem.url }}" class="max-w-full h-auto rounded-xl">
  </div>
{% endif %}
{% if presente.video_url %}
  <div class="flex justify-center mb-4">
    <iframe class="rounded-xl" width="100%" height="315" src="{{ presente.video_url|safe }}" frameborder="0" allowfullscreen></iframe>
  </div>
{% endif %}
<div class="text-center">
  <h3 class="font-semibold text-lg mb-2">QR Code:</h3>
  <img src="{{ presente.qr_code.url }}" class="mx-auto">
</div>
{% endblock %}